# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Design Regression
email: designregression@pm.me

# This goes to the FP footer as well as the general page sharing description
description: >- # this means to ignore newlines until "baseurl:"
  <strong>Design Regression</strong> is a journalette (a mini journal) publishing texts that are about design for reading and reading-related research.
  It aims for the hard-to-get blend of approachability with seriousness and relevance to practice.

# The default sharing image for sharing any page to social media. If a post has
# a "sharing_image" meta that will be used instead
# Use a relative path from the root of the project!
sharing_image: media/design-regression.png

# Html meta
keywords: design, reading, type design, research, publication, article

baseurl: "" # the subpath of your site, e.g. /blog
url: "https://designregression.com/" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
# theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

sass:
  sass_dir: assets/css

# This would be nice, but slugified_categories is not yet available on the
# github-pages jekyll version (requires 4.1)
#permalink: /:slugified_categories/:title
permalink: /:categories/:title

# A custom content type for the authors of articles
collections:
  authors:
    output: false

# Show articles with future date
future: true