$knob-size: 24px;

@import "../node_modules/vue-range-slider/dist/vue-range-slider.scss";

.range-slider {
    padding: 7px 0;
}

.range-slider-fill,
.range-slider-rail,
.range-slider-knob {
    transition: background 0.2s ease-out;
}

.range-slider-fill,
.range-slider-rail {
    height: 6px;
}

.range-slider-rail {
    background: $blue-extralight;
}

.range-slider-fill {
    background: $blue-accent;
}

.range-slider-knob {
    background: $blue-dark;
    box-shadow: none;
    border: none;

    &:hover {
        background: $blue-interactive;
    }
}

// Own styling for custom slot with value display on hover/dragging
.range-slider-value {
    color: $blue-background;
    background: $blue-foreground;
    border-radius: $border-radius;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -38px;
    height: 32px;
    font-size: 16px;
    padding: 1px 8px 0;
    line-height: 32px;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    white-space: pre;
}

// Make the knob containing the value tag overflow:hidden so hovering
// over the hidden tag does not trigger :hover, but when :hovering the knob
// allow the overflow

.range-slider-knob {
    overflow: hidden;

    &:hover,
    &:focus {
        overflow: visible;

        .range-slider-value {
            opacity: 1;
        }
    }
}

.disabled .range-slider,
.range-slider.disabled {
    opacity: 1;

    .range-slider-fill {
        background: $blue-highlight;
    }

    .range-slider-rail {
        background: $blue-highlight;
    }

    .range-slider-knob {
        border: 1px solid $blue-highlight;
        background: $blue-highlight;

        .range-slider-value {
            background: $blue-highlight;
        }
    }
}

.disabled .range-slider {
    cursor: pointer;

    &:hover {

        .range-slider-rail {
            background: $blue-extralight;
        }

        .range-slider-fill {
            background: $blue-accent;
        }

        .range-slider-knob {
            background: $blue-dark;
            box-shadow: none;
            border: none;

            &:hover {
                background: $blue-interactive;
            }

            .range-slider-value {
                background: $blue-foreground;
            }
        }
    }
}