.loading-spinner {
    width: $spinner-size;
    height: $spinner-size;
    border-radius: 50%;
    border: 4px solid $blue-interactive-highlight;
    border-top-color: transparent;
    animation: 1.5s spin infinite linear;

    &:after,
    &:before {
        content: " ";
        background: $blue-interactive-highlight;
        position: absolute;
        width: 4px;
        height: 4px;
        top: 5px;
        border-radius: 100%;
    }

    &:after {
        left: 4.65px;
    }

    &:before {
        right: 4.65px;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}