<div class="cta cta-newsletter">
    <h2>Enjoying the article?</h2>
    <p>Sign up for our Newsletter and get all new articles straight into your inbox.</p>
    <div id="cta-newsletter" class="newsletter">
        <form class="js-cm-form" id="subForm" action="https://www.createsend.com/t/subscribeerror?description="
            method="post"
            data-id="5B5E7037DA78A748374AD499497E309E6F784461F88C0E740111C7677F89A0394D4E18A4EB469EF27BD46059A446473DED620E02A85A8D278882A80257B662AB">
            <input placeholder="Subscribe to our newsletter with your email" autocomplete="Email" aria-label="Email"
                class="js-cm-email-input qa-input-email" id="fieldEmail" maxlength="200" name="cm-bldgtl-bldgtl"
                required="" type="email">
            <button type="submit">Sign up</button>
        </form>
        <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js">
        </script>
    </div>
</div>