<footer class="footer">
    <div class="main">
        <div id="newsletter">
            <input type="email" placeholder="Subscribe to our newsletter with your email" required>
            <button type="submit">Sign up</button>
        </div>

        <aside>
            <a href="https://www.rosettatype.com/">Rosetta</a>
            <a href="https://www.instagram.com/rosettatypefoundry/">Instagram</a>
            <a href="https://twitter.com/rosettatype">Twitter</a><br>
            © Rosetta Type Foundry, 2021.
        </aside>
    </div>
</footer>