<footer class="footer">
    <div class="main">
        <div id="footer-newsletter" class="newsletter">
            <form class="js-cm-form" id="subForm" action="https://www.createsend.com/t/subscribeerror?description="
                method="post"
                data-id="5B5E7037DA78A748374AD499497E309E6F784461F88C0E740111C7677F89A0394D4E18A4EB469EF27BD46059A446473DED620E02A85A8D278882A80257B662AB">
                <input placeholder="Subscribe to our newsletter with your email" autocomplete="Email" aria-label="Email"
                    class="js-cm-email-input qa-input-email" id="fieldEmail" maxlength="200" name="cm-bldgtl-bldgtl"
                    required="" type="email">
                <button type="submit">Sign up</button>
            </form>
            <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js">
            </script>
        </div>

        <aside>
            {% if page.url == "/" %}
            <p>{{ site.description }}</p>
            {% endif %}
            <p>
                <a href="https://www.rosettatype.com/">Rosetta</a>
                <a href="https://www.instagram.com/rosettatypefoundry/">Instagram</a>
                <a href="https://twitter.com/rosettatype">Twitter</a>
            </p>
            <p>
                <span>Design © Rosetta Type Foundry, 2021.</span>
                <span>All rights reserved.</span>
                <span>Texts © Respective authors, 2021.</span>
                <span>Licenced under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a>.</span>
            </p>
        </aside>
    </div>
</footer>