{% assign title = site.title %}
{% if page.title %}
    {% assign title = page.title %}
{% endif %}

{% assign description = site.description %}
{% if page.intro %}
    {% assign description = page.intro|strip_html %}
{% else %}
    {% assign description = page.excerpt|strip_html %}
{% endif %}

{% assign sharing = site.sharing_image %}
{% if page.sharing_image %}
    {% assign sharing = page.sharing_image %}
{% endif %}

{% assign author = "Design Regression contributors" %}
{% if page.authors %}
    {% assign author = page.authors|join: ", " %}
{% endif %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <title>{{ title }}</title>
    
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ site.keywords }}" />
    <meta name="author" content="{{ author }}" />

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:description" content="{{ description_plain }}" />
    <meta property="og:image" content="{{ sharing | absolute_url }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description_plain }}" />
    <meta name="twitter:image" content="{{ sharing | absolute_url }}" />

    <link rel="icon" href="{{ 'assets/favicon/favicon.ico' | relative_url }}" sizes="any">
    <link rel="icon" href="{{ 'assets/favicon/favicon.svg' | relative_url }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ 'assets/favicon/apple-touch-icon.png' | relative_url }}">
    <link rel="manifest" href="{{ 'assets/favicon/site.webmanifest' | relative_url }}">
    <meta name="theme-color" content="#302C0D">

    <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">

    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
    
    <script async defer data-domain="designregression.com" src="https://plausible.io/js/plausible.js"></script>
</head>
