<form class="newsletter-signup-form newsletter br" action="https://shop.rosettatype.com/newsletter/subscribe" method="post">
    <fieldset>
        <input name="email" required="" autocomplete="Email" aria-label="Email" maxlength="200" type="email"
            placeholder="Your email*">
        <input name="list" value="designregression" type="hidden">
        <input name="honeypot" value="" type="hidden">
        <button type="submit">Sign up</button>
    </fieldset>
    <small class="note small">By clicking the Sign up button, you agree to receive our newsletter. <br>You will be able to unsubscribe at any time.</small>
    <span class="message"></span>
</form>
<script src="https://shop.rosettatype.com/static/javascript/newsletter.js"></script>