
<form
    action="https://rosettatype.mailcoach.app/subscribe/e3daa37f-8f8d-4fc7-89bd-619d47d45766"
    method="post"
    class="newsletter-signup-form newsletter br"
>
    <fieldset>
        <!-- Honeypot field (hidden from users) -->
        <div style="display: none;">
            <label for="honeypot">You cannot see this!</label>
            <input type="text" id="honeypot" name="honeypot" />
            <!-- The CSS "display: none;" style hides the field from regular users -->
        </div>
        <input type="email" name="email" required autocomplete="Email" aria-label="Email" maxlength="200" type="email" placeholder="Your email*" />
        <button type="submit">Sign up</button>
    </fieldset>
</form>