.author {
    border: $border;
    padding: 1rem;
    overflow: auto;
    margin: 1rem auto;

    h3 {
        display: inline-block;
    }

    img {
        float: right;
        max-width: 20%;
        display: block;
        height: auto;
        padding-left: 1rem;
    }

    .author-website {
        margin-top: 1rem;
    }
}