.author {
    border: $border;
    border-radius: 2px;
    padding: 1rem;
    overflow: auto;
    margin: 1rem auto;

    h3 {
        display: inline-block;
    }

    img {
        float: right;
        max-width: 20%;
        display: block;
        height: auto;
        margin-left: 1rem;
        border-radius: 2px;
    }

    p {
        padding-right: 20%;
        margin-right: 1rem;
    }

    p+p {
        margin-top: 0.75rem;
    }

    .author-website {
        margin-top: 1rem;
    }

    @include mobile {
        border-radius: 0;
        border-right: 0;
        border-left: 0;
        margin-left: -$gutter/2;
        margin-right: -$gutter/2;
        margin-bottom: 0;
        padding-top: $gutter/2;
        padding-bottom: $gutter/2;
        width: auto;

        img {
            min-width: 25vw;
        }

        &+.author {
            margin-top: -$gutter/2;
        }
    }
}