.author {
    border: $border;
    border-radius: 2px;
    padding: 1rem;
    overflow: auto;
    margin: 1rem auto;

    h3 {
        display: inline-block;
    }

    img {
        float: right;
        max-width: 20%;
        display: block;
        height: auto;
        margin-left: 1rem;
        border-radius: 2px;
    }

    p {
        padding-right: 20%;
        margin-right: 1rem;
    }

    .author-website {
        margin-top: 1rem;
    }
}