/**
 * Define Adapter fallback fonts for non-variable-font browsers with
 * AdapterOPSZ names and distinct font-weight
 */

/* Display Extrabold */
@font-face {
    font-display: block;
    font-family: "AdapterPEDisplay";
    font-weight: 800;
    font-style: normal;
    src: url("https://webfonts.rosettatype.com/dr/AdapterPEDisplayWeb-Eb.woff2") format("woff2");
}

/* Text Regular */
@font-face {
    font-display: block;
    font-family: "AdapterPEText";
    font-weight: 400;
    font-style: normal;
    src: url("https://webfonts.rosettatype.com/dr/AdapterPETextWeb-Rg.woff2") format("woff2");
}

/* Text Bold */
@font-face {
    font-display: block;
    font-family: "AdapterPEText";
    font-weight: 700;
    font-style: normal;
    src: url("https://webfonts.rosettatype.com/dr/AdapterPETextWeb-Bd.woff2") format("woff2");
}

/* Variable font all in one, if supported */
@supports (font-variation-settings: initial) {
    @font-face {
        font-display: block;
        font-family: "AdapterPEVF";
        font-weight: 100 900;
        font-style: normal;
        src: url("https://webfonts.rosettatype.com/dr/AdapterPEVFWeb-All.woff2") format("woff2");
    }
}

/* Arabic fonts */

/* Text Regular */
@font-face {
    font-display: block;
    font-family: "AdapterArabicText";
    font-weight: 400;
    font-style: normal;
    src: url("https://webfonts.rosettatype.com/dr/AdapterArabicTextWeb-Rg.woff2") format("woff2");
}

/* Text Bold */
@font-face {
    font-display: block;
    font-family: "AdapterArabicText";
    font-weight: 700;
    font-style: normal;
    src: url("https://webfonts.rosettatype.com/dr/AdapterArabicTextWeb-Bd.woff2") format("woff2");
}

@supports (font-variation-settings: initial) {
    @font-face {
        font-display: block;
        font-family: "AdapterArabicVF";
        font-weight: 100 900;
        font-style: normal;
        src: url("https://webfonts.rosettatype.com/dr/AdapterArabicVFWeb-All.woff2") format("woff2");
    }
}

// /* Mono Regular */
// @font-face {
//     font-display: block;
//     font-family: "AdapterMono";
//     font-weight: 400;
//     font-style: normal;
//     src: url("/assets/ui-fonts/AdapterMonoPE-Regular.woff2") format("woff2");
// }

// /* Mono Bold */
// @font-face {
//     font-display: block;
//     font-family: "AdapterMono";
//     font-weight: 700;
//     font-style: normal;
//     src: url("/assets/ui-fonts/AdapterMonoPE-Bold.woff2") format("woff2");
// }

/* Mono Variable font all in one, if supported */
@supports (font-variation-settings: initial) {
    @font-face {
        font-display: block;
        font-family: "AdapterMonoVF";
        font-weight: 100 900;
        font-style: normal;
        src: url("https://webfonts.rosettatype.com/dr/AdapterMonoPEVFWeb-All.woff2") format("woff2");
    }
}

/**
 * Define mixing for the various font styles and use only these to set the font
 * This will ensure that the correct family is triggered based on browser support 
 * and consequently only that family's webfonts will be loaded!!!
 */
@mixin font-text($fontsize: 20px, $lineheight: 1.6, $letterspacing: initial, $weight: 400) {
    font-family: "AdapterPEText", "AdapterArabicText", sans-serif;
    font-style: normal;
    font-weight: $weight;
    font-size: $fontsize;
    letter-spacing: $letterspacing;
    line-height: $lineheight;

    @supports (font-variation-settings: initial) {
        font-family: "AdapterPEVF", "AdapterArabicVF", sans-serif;
        font-variation-settings: "opsz"4;
    }
}

@mixin font-heading($fontsize: 32px, $lineheight: 1.15, $letterspacing: -0.01em,
    $weight: 900, $opsz: 18, $slnt: 0) {
    font-family: "AdapterPEDisplay", sans-serif;
    font-style: normal;
    font-weight: $weight;
    font-size: $fontsize;
    letter-spacing: $letterspacing;
    line-height: $lineheight;

    @supports (font-variation-settings: initial) {
        font-family: "AdapterPEVF", sans-serif;
        font-variation-settings: "opsz"$opsz, "slnt"$slnt;
    }
}

/**
 * Italic is used only on a few words in the About text, so let's not worry too
 * much about the fallback for non VF
 */
 @mixin font-italic {
    font-family: "AdapterPEText", "AdapterArabicText", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-feature-settings: "ss02" 1, "ss04" 1;

    @supports (font-variation-settings: initial) {
        font-style: normal;
        font-family: "AdapterPEVF", "AdapterArabicVF", sans-serif;
        font-variation-settings: "opsz"4, "slnt"-10;
    }
}

@mixin font-mono($fontsize: 18px, $lineheight: 1, $weight: 400) {
    font-family: "AdapterMonoVF", "AdapterArabicVF", monospace;
    font-style: normal;
    font-weight: $weight;
    font-size: $fontsize;
    letter-spacing: 0;
    line-height: $lineheight;
}

/**
 * Italic is used only on a few words in the About text, so let's not worry too
 * much about the fallback for non VF
 */
 @mixin font-mono-italic {
    font-style: italic;
    font-family: "AdapterMonoVF", "AdapterArabicVF", monospace;
    font-feature-settings: "ss07" 1;

    @supports (font-variation-settings: initial) {
        font-style: normal;
        font-variation-settings: "opsz" 4, "slnt" -13;
    }
}

/**
 * Custom icon font mixin
 */
@mixin icon($icon) {
    font-size: 10px;
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: $icon;
}