/**
 * Define Adapter fallback fonts for non-variable-font non-woff2 browsers with
 * AdapterOPSZ names and distinct font-weight
 */

/* Display Extrabold */
@font-face {
    font-display: block;
    font-family: "AdapterDisplay";
    font-weight: 800;
    font-style: normal;
    src: url("https://universalspecimen.rosettatype.com/ui-fonts/fallback/AdapterPEDisplayWeb-Eb.woff") format("woff");
}

/* Text Regular */
@font-face {
    font-display: block;
    font-family: "AdapterText";
    font-weight: 400;
    font-style: normal;
    src: url("https://universalspecimen.rosettatype.com/ui-fonts/fallback/AdapterPETextWeb-Rg.woff") format("woff");
}

/* Text Bold */
@font-face {
    font-display: block;
    font-family: "AdapterText";
    font-weight: 700;
    font-style: normal;
    src: url("https://universalspecimen.rosettatype.com/ui-fonts/fallback/AdapterPETextWeb-Bd.woff") format("woff");
}

/* Variable font all in one, if supported */
@supports (font-variation-settings: initial) {
    @font-face {
        font-display: block;
        font-family: "AdapterVF";
        font-weight: 100 900;
        font-style: normal;
        src: url("https://universalspecimen.rosettatype.com/ui-fonts/AdapterPEVFWeb-All.woff2") format("woff2");
    }
}

/* Mono Regular */
@font-face {
    font-display: block;
    font-family: "AdapterMono";
    font-weight: 400;
    font-style: normal;
    src: url("/assets/ui-fonts/AdapterMonoPE-Regular.woff2") format("woff2");
}

/* Mono Bold */
@font-face {
    font-display: block;
    font-family: "AdapterMono";
    font-weight: 700;
    font-style: normal;
    src: url("/assets/ui-fonts/AdapterMonoPE-Bold.woff2") format("woff2");
}

/* Mono Variable font all in one, if supported */
@supports (font-variation-settings: initial) {
    @font-face {
        font-display: block;
        font-family: "AdapterMonoVF";
        font-weight: 100 900;
        font-style: normal;
        src: url("/assets/ui-fonts/AdapterMonoPEVF-All.woff2") format("woff2");
    }
}

/**
 * Define mixing for the various font styles and use only these to set the font
 * This will ensure that the correct family is triggered based on browser support 
 * and consequently only that family's webfonts will be loaded!!!
 */
@mixin font-text($fontsize: 20px, $lineheight: 1.6, $letterspacing: initial, $weight: 400) {
    font-family: "AdapterText", sans-serif;
    font-style: normal;
    font-weight: $weight;
    font-size: $fontsize;
    letter-spacing: $letterspacing;
    line-height: $lineheight;

    @supports (font-variation-settings: initial) {
        font-family: "AdapterVF", sans-serif;
        font-variation-settings: "opsz"4;
    }
}

@mixin font-heading($fontsize: 32px, $lineheight: 1.15, $letterspacing: 0.02em, $weight: 900) {
    font-family: "AdapterDisplay", sans-serif;
    font-style: normal;
    font-weight: $weight;
    font-size: $fontsize;
    letter-spacing: $letterspacing;
    line-height: $lineheight;

    @supports (font-variation-settings: initial) {
        font-family: "AdapterVF", sans-serif;
        font-variation-settings: "opsz"18;
    }
}

/**
 * Italic is used only on a few words in the About text, so let's not worry too
 * much about the fallback for non VF
 */
 @mixin font-italic {
    font-family: "AdapterText", sans-serif;
    font-weight: 400;
    font-style: italic;

    @supports (font-variation-settings: initial) {
        font-style: normal;
        font-family: "AdapterVF", sans-serif;
        font-variation-settings: "opsz"4, "slnt"-10;
    }
}

@mixin font-mono($fontsize: 18px, $lineheight: 1.75, $letterspacing: 0.02em, $weight: 400) {
    font-family: "AdapterMono", monospace; // TBD
    font-style: normal;
    font-weight: $weight;
    font-size: $fontsize;
    letter-spacing: $letterspacing;
    line-height: $lineheight;

    @supports (font-variation-settings: initial) {
        font-family: "AdapterMonoVF", sans-serif;
    }
}

/**
 * Italic is used only on a few words in the About text, so let's not worry too
 * much about the fallback for non VF
 */
 @mixin font-mono-italic {
    font-family: "AdapterMono", sans-serif;
    font-weight: 400;
    font-style: italic;

    @supports (font-variation-settings: initial) {
        font-style: normal;
        font-family: "AdapterMonoVF", sans-serif;
        font-variation-settings: "opsz"4, "slnt"-13;
        font-feature-settings: "ss05" 1;
    }
}

/**
 * Custom icon font mixin
 */
@mixin icon($icon) {
    font-size: 10px;
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: $icon;
}