/**
 * Most of the home/index page follows the general page styling. 
 * However, for desktop we want to make the first article a featured
 * element that takes half the space
 */

%border-half {
    content: " ";
    border-bottom: $border;
    border-color: $blue-interactive-highlight;
    position: absolute;
    left: -5vw;
    width: 50vw;
    bottom: 0;
}

body.split {

    #featured,
    main {
        width: 50%;
        height: 100%;

        // left and right "main" area
        .main {
            max-width: 640px;
            padding: 0 5vw;
            height: 100%;
        }
    }

    // left area
    #featured {
        float: left;
        background: $blue-interactive-accent;
        position: fixed;
        width: 50%;

        .main {
            margin-left: auto;

            .excerpt .meta>* {
                border-color: $blue-interactive-foreground;
            }
        }
    }

    // right area
    main {
        float: right;
        background: #FFF;
        overflow: auto;

        .header {
            top: 0;
            position: sticky;
            z-index: 49;
        }

        .main {
            margin-right: auto;

            .article-excerpt {
                display: none;
            }

            .excerpt {
                padding: 3rem 0;

                &:after {
                    @extend %border-half;
                }
            }
        }
    }

    .excerpt .meta {
        margin-bottom: 1.5em;

        &:last-child {
            margin-bottom: 0;
        }

        &>* {
            margin-left: -1px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .meta-date {
        display: inline-block;
    }
}

#featured-article {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 5vw;
    margin-top: 2rem;

    @media screen and (max-height: 45rem) {
        .article-excerpt {
            display: none;
        }
    }
}

.article-excerpt {
    margin-bottom: 1.5rem;
}

.excerpt {

    h2 {
        margin-bottom: 1.5rem;
    }
}

// Special footer styling for split halfs homepage
.split .main .footer {
    border-top: 0;
    overflow: visible;

    .main {
        padding: 0;
        max-width: none;
        display: block;
    }

    #newsletter {
        padding-bottom: 3rem;
        padding-top: 2rem;

        &:before {
            @extend %border-half;
        }
    }

    aside {
        border: 0;    
        padding: 2rem 0 3rem;
        width: 100%;

        &:before {
            @extend %border-half;
        }
    }
}