///////////////////////////////////////////////////////////////////////////////
// Layout mixings
///////////////////////////////////////////////////////////////////////////////
@mixin mobile () {
    @media screen and (max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin tablet () {
    @media screen and (max-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin gutter($factorVertical: 1, $factorHorizontal: 1, $prop: "padding") {
    #{$prop}: $gutter*$factorVertical $gutter*$factorHorizontal;

    @include mobile () {
        #{$prop}: $gutter*$factorVertical/2 $gutter*$factorHorizontal/2;
    }
}

@mixin maxwidth() {
    max-width: 1280px;
    padding: 0 5vw;
    margin: 0 auto;
    width: 100%;

    @include mobile {
        padding: 0 ($gutter/2) 0;
    }
}

///////////////////////////////////////////////////////////////////////////////
// General cascading layout classes
///////////////////////////////////////////////////////////////////////////////
* {
    box-sizing: border-box;
    padding: 0;
    position: relative;
    margin: 0;
}

html,
body {
    height: 100%;
}

hr {
    border: 0;
    border-top: $border;
    background: none;
    max-width: 40rem;
    margin: 3rem 0;
}

body {
    &.menu-open {
        overflow: hidden;

        #byline-default {
            display: none;
        }

        #byline-close {
            display: inline-block;
        }
    }

}


///////////////////////////////////////////////////////////////////////////////
// Page header
///////////////////////////////////////////////////////////////////////////////
.header {
    @include maxwidth();
    display: flex;
    padding-top: $gutter/3*2 !important;
}

article .header,
.main .header {
    padding: 0;
}

.header-logo {
    margin-right: auto;
}

.header-menu {
    margin-left: auto;

    // Long and short tag lines next to the header menu button
    .wide {
        @media screen and (min-width: 600px) {
            display: initial;
        }
    }

    .narrow {
        display: inline-block;

        @media screen and (min-width: 600px) {
            display: none;
        }

        @media screen and (max-width: 480px) {
            display: none;
        }
    }

    .byline {
        transition: opacity 0.2s ease-out;
    }

    #byline-close {
        display: none;
    }
}

body.scrolled {
    .header-menu .byline {
        opacity: 0;
    }
}


aside#note {
    @include gutter(1.5, 1);

    @include mobile {
        @include gutter(3, 0);
    }
}

.button-toggle-text {
    i:before {
        font-size: 14px;
        margin-left: 5px;
        position: relative;
        top: 2px;
        transition: $transition;
        transform: scaleY(-1);
    }

    i.collapsed:before {
        transform: scaleY(1);
    }
}

[dir="rtl"] .button-toggle-text i:before {
    margin-left: 0;
    margin-right: 10px;
}

%list-plain {
    list-style: none;
    padding: 0;
    margin: 0;
}

.articles {
    @extend %list-plain;

    li {
        margin: 1rem 0;
    }
}

///////////////////////////////////////////////////////////////////////////////
// Page footer
///////////////////////////////////////////////////////////////////////////////
.footer {
    border-top: $border;
    padding-top: 0;
    overflow: hidden;

    .main {
        @include maxwidth();
        display: flex;
        justify-content: space-between;

        >* {
            padding: 1rem;
        }
    }

    aside {
        border-left: $border;
        width: 33%;
    }
}

#newsletter {
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    flex-grow: 0.5;
    padding-left: 0;

    input {
        background: transparent;
        padding: 0.5em 1em;
        border: $border;
        border-color: initial;
        flex-grow: 2;
        outline: none;
    }

    button {
        cursor: pointer;
        border: 0;
        flex-grow: 1;
        color: white;
        padding: 0.5em;
    }
}


///////////////////////////////////////////////////////////////////////////////
// Custom 404
///////////////////////////////////////////////////////////////////////////////
#not-found {
    min-height: 50vh;
    padding: 10vh $gutter 200px;

    div {
        background: url("/404.svg") no-repeat center center;
        background-size: contain;
        padding-top: 40%;

        p {
            position: absolute;
            top: 105%;
            left: 40%;
            max-width: 50vw;
        }
    }

    @include mobile {
        min-height: 0;
        padding: 3em $gutter/2 10em;

        div {
            min-height: 0;
            height: 0;
            padding-top: 50%;

            p {
                position: relative;
                width: 100%;
                top: auto;
                left: auto;
                max-width: none;
                margin-top: 32px;
            }
        }
    }
}