.meta {
    display: flex;

    >* {
        @include text-meta();

        border: $border;
        display: inline-block;
        text-transform: uppercase;
        padding: 0.2rem 0.5rem 0;
    }
}
