nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 109;
    display: none;
    max-width: none;

    &.open {
        display: block;
    }

    #menu-wrapper {

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        min-width: 33vw;

        ul {
            @include heading-xl;
            font-size: 96px;
            line-height: 1;
            letter-spacing: 0.01em;

            list-style: none;
            padding: 0;
        }

        li {
            margin-bottom: 1.5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        p {
            width: 50vw;
            margin-top: 2.5rem;
        }

        a {
            @include underline(4px);

            &.current {
                @include underline(4px, $blue-interactive-foreground);
            }

            display: inline-block;
        }
    }
}

@mixin mobile-nav {
    nav {
        overflow-y: scroll;

        #menu-wrapper {
            padding: $gutter/2;
            position: relative;
            left: initial;
            top: initial;
            transform: initial;
            padding-top: 2.5rem;

            p {
                width: 100%;
            }
        }

        #menu-newsletter input {
            margin-bottom: 0.5rem;
        }
    }
}

@include mobile {
    @include mobile-nav;
}

@media screen and (max-height: 800px) {
    nav #menu-wrapper {
        ul {
            @include heading-l;

            li {
                margin-bottom: 0.5rem;
            }
        }

        p {
            margin-top: 1rem;
        }

        #menu-newsletter {
            margin-top: 1rem;
        }
    }
}

@media screen and (max-height: 600px) {
    @include mobile-nav;
}

.header {
    @include maxwidth();
    width: 100%;

    .toggle-menu {
        .icon-close {
            display: none;
            position: relative;
            top: -10px;
        }

        .icon-menu {
            position: relative;
            display: block;
            left: 1px;
            top: -10px;
        }
    }
}

body.menu-open {
    .toggle-menu {
        .icon-close {
            display: block;
        }

        .icon-menu {
            display: none;
        }
    }
}