
.layout-page article {
    margin-top: $gutter*2;

    > h1 {
        @include heading-xl;
        display: block;
        width: 100%;
    }

    > * {
        margin-bottom: 1em;
    }

    > p {
        width: 100%;
    }
}