/**
 * Styling applied to all content using the post.html layout
 */

.layout-post article {
    @include maxwidth();
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 3rem;

    counter-reset: sidenotes markers;

    .header {
        margin-top: 20vh;

        h1 {
            @include heading-l;
            width: 100%;
            margin: 2rem 0 4.5rem;
            font-size: 56px;

            @for $i from 1 through 35 {
                &.heading-size-#{$i} {
                    font-size: #{3+(35-$i)*12.5}px;
                }

                @media screen and (max-height: 40rem) {
                    &.heading-size-#{$i} {
                        font-size: #{3+(35-$i)*12.5-15}px;
                    }
                }

                @media screen and (max-height: 30rem) {
                    &.heading-size-#{$i} {
                        font-size: 42px;
                    }
                }
            }

            @include tablet {
                font-size: 56px !important;
            }

            @include mobile {
                font-size: 48px !important;
            }
        }

        .meta {
            * {
                margin-left: -1px;
            }

            .meta-tags {
                margin-left: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .meta-authors {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    // .sidenotemark {
    a[href^="#sn:"] {
        text-decoration: none;

        &:hover,
        &:focus {
            color: initial !important;
            cursor: help;
        }

        &:after {
            @include font-mono(16px, $weight: 450);

            counter-increment: markers;
            content: counter(markers);

            line-height: inherit !important;
            position: relative;
            top: -0.2em;
            font-feature-settings: "ss12"1;
            display: inline-block;
            padding: 0.05em 0 0.05em;
            margin: 0 0.3em;
        }
    }

    aside {
        @include text-sidenote;

        box-sizing: border-box;
        padding-left: 48px;
        width: 100% / 6 * 2;

        transition: color 0.5s ease-out;

        p+p {
            margin-top: 0.75em;
        }

        p em {
            @include font-mono-italic;
        }

        &[id^="sn:"] {
            opacity: 0;
        }

        // The (1) in the <aside id="sn:..." that holds the sidenote text
        &[id^="sn:"]:before {
            @include font-mono(16px, $weight: 700);

            counter-increment: sidenotes;
            content: counter(sidenotes);

            position: relative;
            top: 0.1em;
            font-feature-settings: "ss13"1;
            padding: 0;
            margin: 0 0.6em 0 0;
            display: inline-block;

            // The line height of the superior should not "bump" the first
            // line's line height!
            line-height: 1 !important;
        }

        // Applied in _themes.scss
        // &.flash {
        //     color: red;
        // }
    }

    a[href^="#ref:"] {
        text-decoration: underline;
    }

    aside.meta {
        flex-wrap: wrap;

        &>* {
            flex-grow: 1;
            flex-basis: 50%;
        }

        .meta-editor {
            flex-basis: 100%;
            width: 100%;
            margin-bottom: -1px;

            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .meta-readingtime,
        .meta-date {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .meta-date {
            margin-left: -1px;
        }

        @media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {

            .meta-readingtime,
            .meta-date {
                width: 100%;
                flex-basis: 100%;
            }

            .meta-readingtime {
                border-radius: 0;
                margin-bottom: -1px;
            }

            .meta-date {
                margin-left: 0;
            }
        }
    }

    main {
        width: 100% / 6 * 4;

        >* {
            margin-bottom: 1em;
        }

        aside {
            position: absolute;
            right: -50%;
            width: 50%;

            small {
                @include text-sidenote;
            }
        }
    }

    // References
    p[id^="ref:"] {
        @include text-s;

        // Try ... super long links in the references on mobile, when some user
        // agents won't auto-break them to new lines
        text-overflow: ellipsis;
        width: 100%;
        overflow-x: hidden;
    }

    footer {
        margin-top: 2rem;
        width: 100% / 6 * 4;
    }

}

#notes,
#footnotes {
    display: none;

    @include tablet {
        display: block;
    }
}

/*
 * TABLET 768 - 1024
 */
@mixin post-tablet {
    .layout-post aside[id^="sn:"] {
        @include text-s;

        &:before {
            top: 0 !important;
        }
    }

    .layout-post {
        article {
            padding: 0 $gutter/2;

            .header {
                margin-top: $gutter*2;
                padding-top: 0 !important;
            }

            h1 {
                font-size: 7.5vw;

                &.large {
                    font-size: 15vw;
                }
            }

            aside {
                padding-left: initial;
            }

            aside.meta {
                order: 0;
                width: auto;
                margin-bottom: 1rem;
            }

            main {
                order: 1;
                width: 100%;

                aside {
                    position: relative;
                    right: initial;
                    width: 100%;
                }

                .full {
                    width: 100%;
                    margin-left: 0;
                    box-sizing: border-box;
                }

                blockquote.pullquote {
                    margin: 0;
                    display: block;
                    width: 100%;
                }


                ul {
                    padding-left: 1rem;
                }
            }

            footer {
                order: 2;
                width: 100%;
            }
        }

        >header.header {
            position: absolute;
            z-index: 9;
        }
    }
}

@include tablet {
    @include post-tablet;
}

@media print {
    @include post-tablet();
    .layout-post aside[id^="sn:"] {
        transform: none !important;
    }
}


/*
 * MOBILE < 768
 */
@include mobile {
    .layout-post {
        article {
            margin-bottom: 0;

        }

        footer.footer {
            border-top: 0;
        }
    }
}