article {
    @include maxwidth();
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 5rem;

    .header {
        margin-top: 35vh;

        h1 {
            width: 100%;
        }

        .meta {
            * {
                margin-left: -1px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    aside {
        box-sizing: border-box;
        padding-left: 1em;
        width: 100% / 6 * 2;
    }

    aside.meta {
        flex-wrap: wrap;

        &>* {
            flex-grow: 1;
            flex-basis: 50%;

        }

        .meta-editor {
            flex-basis: 100%;
            width: 100%;
            margin-bottom: -1px;
        }

        .meta-date {
            margin-left: -1px;
        }
    }

    main {
        width: 100% / 6 * 4;

        >* {
            margin: 0 0 1em;
        }

        aside {
            position: absolute;
            right: -50%;
            width: 50%;
        }

        figure {
            border: $border;
            margin: 1em 0;
            padding: 1em;

            figcaption {
                margin: 1em 0 0;
            }
        }

        .full {
            width: 150%;
        }

        img {
            display: block;
            height: auto;
            width: 100%;
        }
    }

    footer {
        margin-top: 2rem;
        width: 100% / 6 * 4;
    }
}

.footnotes {
    margin-top: 3rem;

    &:before {
        content: "Bibliography";
        @include font-bold;
    }

    li {
        font-size: 0.7rem;
        line-height: 1.75em;
        color: $theme-blue-black;
        margin-top: 1rem;
    }

    em {
        font-variation-settings: "slnt"-10;
    }
}