article {
    @include maxwidth();
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 5rem;

    .header {
        margin-top: 20vh;

        @include tablet {
            margin-top: 10vh;
        }

        h1 {
            @include heading-l;
            width: 100%;
            margin: 2rem 0 4.5rem;

            @for $i from 1 through 10 {
                &.heading-size-#{$i} {
                    font-size: #{3+(15-$i)*10}px;
                }

                @media screen and (max-height: 40rem) {
                    &.heading-size-#{$i} {
                        font-size: #{3+(15-$i)*10-15}px;
                    }
                }

                @media screen and (max-height: 30rem) {
                    &.heading-size-#{$i} {
                        font-size: 42px;
                    }
                }
            }

            @include tablet {
                font-size: 48px !important;
            }

            @include mobile {
                font-size: 32px !important;
            }
        }

        .meta {
            * {
                margin-left: -1px;
            }

            .meta-tags {
                margin-left: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .meta-authors {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    .sidenotemark {
        @include font-mono(20px, $weight: 450);
        line-height: inherit !important;
        position: relative;
        top: -0.2em;
        font-feature-settings: "ss10"1;
        display: inline-block;
        padding: 0.05em 0 0.05em;
        margin: 0 0.15em;
    }

    aside {
        @include text-sidenote;

        box-sizing: border-box;
        padding-left: 48px;
        width: 100% / 6 * 2;

        p+p {
            margin-top: 0.75em;
        }

        p em {
            @include font-mono-italic;
        }

        .sidenotemark {
            @include font-mono(20px, $weight: 700);
            position: relative;
            top: 0.1em;
            font-feature-settings: "ss11"1;
            padding: 0;
            margin: 0;

            // The line height of the superior should not "bump" the first
            // line's line height!
            line-height: 1 !important;
        }
    }

    aside.meta {
        flex-wrap: wrap;

        &>* {
            flex-grow: 1;
            flex-basis: 50%;
        }

        .meta-editor {
            flex-basis: 100%;
            width: 100%;
            margin-bottom: -1px;

            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .meta-readingtime,
        .meta-date {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .meta-date {
            margin-left: -1px;
        }

        @media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {

            .meta-readingtime,
            .meta-date {
                width: 100%;
                flex-basis: 100%;
            }

            .meta-readingtime {
                border-radius: 0;
                margin-bottom: -1px;
            }

            .meta-date {
                margin-left: 0;
            }
        }
    }

    main {
        width: 100% / 6 * 4;

        >* {
            margin: 0 0 1em;
        }

        aside {
            position: absolute;
            right: -50%;
            width: 50%;

            small {
                @include text-sidenote;
            }
        }

        h1,
        h2 {
            @include heading;
            margin: 3rem 0 1rem;

            &:first-child {
                margin-top: 0;
            }
        }

        h3,
        h4,
        h5,
        h6 {
            @include heading-s;
            margin: 3rem 0 1rem;

            &:first-child {
                margin-top: 0;
            }
        }

        em {
            @include font-italic;
        }

        small {
            @include text-s;
        }

        figure {
            border: $border;
            border-radius: $border-radius;
            margin: 2rem 0;
            padding: 1rem;
        }

        img {
            display: block;
            height: auto;
            max-width: 100%; // not sure this is a good idea
        }

        figcaption {
            @include text-s;
            margin: 1rem 0 4rem;
        }

        .full {
            width: 150%;
            padding: 1.5rem;
            margin-left: -1.5rem;
            box-sizing: content-box;
        }

        .outlined {
            border: $border;
        }

        .browser {
            border: $border;
            background: url(/assets/ui-icons/browser_controls.svg) left top no-repeat,
                url(/assets/ui-icons/browser_line.svg) left top repeat-x;
            padding: 25px 0 0 0;
            border-radius: 2px;
        }

        li {
            padding: 0.25rem 0;
        }

        ol ol {
            padding-left: 1rem;
        }

        // p code {}

        .highlight {
            @include text-code;
            background: transparent;
            overflow-x: scroll;
        }

        blockquote {
            @include font-text(inherit, inherit, inherit, 700);
            padding-left: 3rem;

            em {
                font-weight: inherit;
            }

            em:last-child {
                @include font-italic;
                display: block;
            }
        }

        blockquote.pullquote {
            @include heading-l;
            margin-right: -25%;
            width: 50%;
            padding: 2rem;
            margin-top: -2rem;
            margin-bottom: -2rem;
            border: none;
            float: right;
        }

        table {
            border-collapse: collapse;
            text-align: left;
            font-feature-settings: "tnum"1, "zero"1;

            th {
                @include text-label;
                white-space: pre;
            }

            td {
                @include text-s;
                line-height: 1.15;
            }

            th,
            td {
                padding: 0.5rem 0.5rem 0.25rem;
                margin: 0;

                &.right {
                    text-align: right;
                }

                &.top {
                    vertical-align: top;
                }

                &.middle {
                    vertical-align: middle;
                }

                &.bottom {
                    vertical-align: bottom;
                }
            }

            tr:last-of-type {
                td {
                    border-bottom: 0 !important;
                }
            }
        }
    }

    footer {
        margin-top: 2rem;
        width: 100% / 6 * 4;
    }
}

.footnotes {
    margin-top: 3rem;

    &:before {
        content: "Bibliography";
        @include heading;
    }

    li {
        font-size: 0.7rem;
        line-height: 1.75em;
        color: $blue-interactive-foreground;
        margin-top: 1rem;
    }

    em {
        font-variation-settings: "slnt"-10;
    }
}


@include mobile {
    article {

        .header {
            margin-top: 5vh;
        }

        h1 {
            font-size: 7.5vw;

            &.large {
                font-size: 15vw;
            }
        }

        aside {
            padding-left: initial;
        }

        aside.meta {
            order: 0;
            width: auto;
            margin-bottom: 1rem;
        }

        main {
            order: 1;
            width: 100%;

            aside {
                position: relative;
                right: initial;
                width: 100%;
            }

            .full {
                width: 100%;
                margin-left: 0;
                box-sizing: border-box;
            }

            blockquote.pullquote {
                margin: 0;
                display: block;
                width: 100%;
            }
        }

        footer {
            order: 2;
            width: 100%;
        }
    }
}