@mixin theme($foreground: $blue-foreground,
    $highlight: $blue-highlight,
    $background: $blue-background,
    $accent: $blue-accent,
    $interactive: $blue-interactive) {

    // The body tag
    & {
        background: $background;
        color: $foreground;
    }

    ::selection {
        background: $interactive;
        color: $background;
    }

    input[type=text],
    input[type=email] {
        &::placeholder {
            color: $highlight;
        }
    }

    .color {
        color: $interactive;
    }

    .background {
        background: $interactive;
    }

    // Links
    a {

        &:hover,
        &:focus {
            color: $interactive;
        }
    }

    button {
        background: $foreground;

        &:hover,
        &:focus {
            background: $interactive;
        }
    }

    // Carousel buttons
    .tns-controls button {
        background: transparent;
        color: $foreground;

        &:hover {
            color: $interactive;
        }
    }

    // Header
    .byline {
        color: $interactive;
        &:hover {
            color: $foreground;
        }
    }
    .header button {
        background-color: $interactive;
        &:hover {
            background-color: $foreground;
        }
    }

    // Page logotype
    h1#title a {
        color: $interactive;
        @include underline(4px, $interactive, $foreground);
        &:hover {
            color: $foreground;
        }

        @media screen and (max-width: 400px) {
            &:after {
                display: none;
            }
            text-decoration: underline;
            text-underline-offset: 0.15em;
            text-decoration-thickness: 4px;
        }
    }

    // All meta tag boxes
    .meta {
        >* {
            border-color: $foreground;
        }
    }
    a:hover .meta>* {
        border-color: $interactive;
    }

    // Outlined images
    .outlined,
    .browser {
        border-color: $foreground;
        background-color: $background;
    }

    .boxchart,
    .barchart {
        border-color: $foreground;
    }

    // Article footer author box
    .author {
        border-color: $foreground;
        background-color: $background;

        img {
            mix-blend-mode: multiply;
        }
    }

    // Footer
    .footer {
        border-color: $foreground;

        aside {
            border-color: $foreground;
        }

        a {
            @include underline(1px, $foreground, $interactive);
        }

        .main {
            @include mobile {
                #footer-newsletter {
                    border-color: $foreground;
                }
            }
        }
    }

    &.split .footer .main {
        @include tablet {
            #footer-newsletter {
                border-color: $highlight;
            }
        }
    }

    // links
    article a,
    .author-website a {
        text-decoration: underline;
        color: $foreground;

        &:hover,
        &:focus {
            color: $interactive;
        }
    }

    // Footer newsletter signup
    input[type=text],
    input[type=email] {
        border-color: $foreground;
    }

    article main aside.flash {
        color: $highlight;
    }

    .newsletter {
        input {
            &:focus,
            &:hover {
                border-color: $interactive;
            }
        }
        .has-errors .message {
            background-color: $interactive;
            color: $background;
        }
    }

    // Article styling
    article main figure {
        border-color: $foreground;
    }

    article main table th {
        border-bottom: 1px solid $foreground;
    }

    article main table td {
        border-bottom: 1px solid $accent;
    }

    // Blockquotes
    article main blockquote {
        border-left: 1px solid $foreground;
    }

    // Frontpage styling
    &.split {
        #featured {
            background-color: $black;
            color: $background;
            &:hover {
                background-color: $interactive;
            }

            h1#title a {
                color: $background;
                @include underline(4px, $background, $background);
                &:hover {
                    color: $background;
                }
            }

            .main {
                .excerpt a:hover {
                    color: $background;
                }
                .excerpt .meta>* {
                    border-color: $background;
                }
            }
        }

        main .main .excerpt:after {
            border-color: $highlight;
        }

        .main .footer #newsletter:before,
        .main .footer aside:before {
            border-color: $highlight;
        }
    }

    // Nav menu
    nav.open {
        background-color: $black;
        color: $white;

        .byline {
            color: $white;
            &:hover {
                color: $interactive;
            }
        }

        button {
            color: $black;
            background-color: $white;
            &:hover {
                color: $white;
                background-color: $interactive;
            }
        }
        
        h1#title a {
            color: $white;
            &:hover {
                color: $interactive;
            }
            @include underline(4px, $white, $interactive);
        }
        
        #menu-wrapper a {
            &:hover {
                color: $interactive;
            }
            &.current {
                @include underline(4px, $white, $interactive);
            }
            @include underline(4px, $black, $interactive);
        }
        #menu-newsletter {
            input[type=email] {
                color: $white;
                border-color: $white;
                &:hover {
                    border-color: $interactive;
                }
            }
            input+button {
                color: $black !important;
                background-color: $white;
                &:hover {
                    color: $white !important;
                    background-color: $interactive;
                }
            }
        }
    }
    nav.open+header {
        display: none;
    }

    // CTA boxes
    .cta {
        background: $accent;
    }

    .cta + .cta {
        border-top-color: $background;
    }

    // Read more
    .read-more {
        border-color: $foreground;
    }

    .button {
        background: $foreground;
        color: white !important;

        &:hover,
        &:focus {
            background: $interactive;
        }
    }

    .label-link {
        @include underline(2px, $foreground, $interactive);
    }
}


body {
    @include theme();
    
    &.theme-blue {
        @include theme();        
    }

    &.theme-red {
        @include theme($red-foreground, $red-highlight, $red-background, $red-accent, $red-interactive);
    }

    &.theme-sand {
        @include theme($sand-foreground, $sand-highlight, $sand-background, $sand-accent, $sand-interactive);
    }
}