// The icons triggering the tooltip on hover
.tooltip-wrapper {
    color: $black;
    background: transparent;
    display: inline-block;
    cursor: help;
    padding: 0.25em 0.5em;
    margin-left: -0.325em;
    margin-right: -0.325em;
    margin-top: -0.25em;
    line-height: 1;

    .icon-tooltip {
        font-size: 24px;
        color: $dark;
        top: -1px;
        transition: $transition;
        height: 1em;
        overflow: hidden;
        line-height: inherit;
        margin-bottom: -0.25em;
        margin-top: -0.25em;
    }

    &:hover,
    &:focus {
        .icon-tooltip {
            color: $blue-dark;
        }
    }
}

.tooltip { 
    display: block !important;
    z-index: 10000;

    // The actual tooltip container
    .tooltip-inner {
        font-size: 0.8rem;
        background: $black;
        color: $white;
        border-radius: 2px;
        padding: $gutter/6 $gutter/4;
        max-width: 450px;
        min-width: 33vw; 
    }

    .tooltip-arrow {
        // width: 0;
        // height: 0;
        // border-style: solid;
        // position: absolute;
        // margin: 5px; 
        // border-color: black;
        // z-index: 1;
        display: none;
    }

    &.popover {
        $color: #f9f9f9;

        .popover-inner {
            background: $color;
            color: black;
            padding: 24px;
            border-radius: 5px;
            box-shadow: 0 5px 30px rgba(black, .1);
        }

        .popover-arrow {
            border-color: $color;
        }
    }

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .15s;
    }
}