@mixin underline($thickness, $color:inherit, $hovercolor:$blue-interactive-accent) {
    border: 0;

    &:after {
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: $thickness;
        background-color: $color;
        border-radius: $thickness/2;
        transition: background-color 0.1s ease-out;
    }

    &:hover,
    &:focus {
        &:after {
            background-color: $hovercolor;
        }
    }
}

@mixin no-underline {
    border: none;

    &:after {
        display: none;
    }
}

button {
    @include font-bold;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
    font-family: inherit;
    transition: $transition;
    line-height: 24px;
}

button {
    @include font-bold;
}

html {
    font-size: 20px;

    @include mobile {
        font-size: 18px;
    }
}

body {
    @include font-text;
    line-height: 1.6;
}

h1#title {
    @include font-heading;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: (26/24);
    letter-spacing: 0.03em;
    font-feature-settings: "ss14"1;
    height: 1.225em;
}

article h1 {
    @include text-heading-large;
    margin: 1rem 0 3rem;

    &.large {
        font-size: 200px;
        line-height: 0.9em;
    }
}

.byline {
    @include no-underline;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.1s ease-out;
}

small a {
    @include font-bold;
}

em {
    @include font-bold;
}

p {
    max-width: 40rem;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;

    p {
        max-width: 25rem;
        padding: 3rem 0 1rem;
        line-height: 1.6;

        @include mobile {
            max-width: 100%;
            padding: 2rem 0 1.5rem;
        }
    }

    a {
        margin-left: auto;
        text-decoration: none;
        border: none;
    }

    span {
        @include font-bold;
        @include text-small;
        text-transform: uppercase;
        position: relative;
        letter-spacing: 0.04em;

        @include mobile {
            display: none;
        }
    }

    small {
        @include text-small;
    }

    button.info {
        @include no-underline;
        width: 2rem;
        height: 2rem;
        color: $blue-interactive-background;
        text-align: center;
        border-radius: 100%;
        margin: 0;
        margin-top: -0.55em;
        border: none;

        &:hover,
        &:focus {

            i.icon-close {
                color: $blue-interactive-background;
            }
        }

        i {
            font-size: 18px;
        }

        i:before {}

        i.icon-info:before {
            margin-left: 2px;
        }

        i.icon-close:before {
            margin-left: 2px;
            top: 1px;
        }
    }
}

footer aside a {
    margin-right: 1em;
}

footer {
    font-size: 16px;
}

#footer-content {
    .button-filled {
        @include no-underline();
    }

    a {
        border-bottom-width: 0.5px;
        display: inline-block;
        margin-bottom: 0.75em;
    }
}

#footer-text {
    line-height: 2;
}

.meta {
    @include text-small;
}

.excerpt {
    h2 {
        @include text-heading-large;

        a {
            border: none;
        }
    }
}

sup {
    font-feature-settings: "sups"1;
    vertical-align: baseline;
    font-size: inherit;

    .footnote {
        @include no-underline;
        padding: 0 0.1em;
        margin-right: -0.2em;
    }
}