---
layout: default
---

<article>
    <header>
    <div class="tags">
        <div class="tag">
            {{ page.categories|join: ", "}}
        </div>

        <div class="tag">
            {{ page.authors|join: ", " }}
        </div>
    </div>

    <h1>{{ page.title }}</h1>
    </header>

    <main>
        {{ content }}
    </main>


    <aside class="tags">
        <div class="tag">{{ page.editor }}</div>
        <div class="tag">{{ page.readingtime }}</div>
        <div class="tag">{{ page.date|date_to_string }}</div>
    </aside>
</article>
