---
layout: default
---

<article>
    <header>
        <div class="meta">
            <div class="meta-tags">
                {{ page.categories|join: ", "}}
            </div>

            <div class="meta-authors">
                {{ page.authors|join: ", " }}
            </div>
        </div>

        <h1>{{ page.title }}</h1>
    </header>

    <main>
        {{ content }}
    </main>


    <aside class="meta">
        {% if page.editor %}
        <div class="meta-editor">Edited by {{ page.editor }}</div>
        {% endif %}
        {% if page.readingtime %}
        <div class="meta-readingtime">{{ page.readingtime }}</div>
        {% endif %}
        {% if page.date %}
        <div class="meta-date">{{ page.date|date_to_string }}</div>
        {% endif %}
    </aside>
</article>